@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'Brittany-Signature';
  src: local('Brittany Signature'), url('./fonts/brittany_signature/BrittanySignature.ttf') format('truetype');
}

@font-face {
  font-family: 'Bona-Nova';
  src: local('Bona Nova'), url('./fonts/Bona_Nova/BonaNova-Regular.ttf') format('truetype');
}

.fade-in {
  animation: fadeIn 0.3s ease-out;
}
